/* Custom CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin: 0;
    font-size: 28px;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 20px;
}

footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    color: #666;
    font-size: 14px;
}
section{
    text-align: left;
    margin-bottom: 50px;
}
li{
    list-style: circle;
    text-align: left;
}
div{
    background-color: #a78eff00;
}
section{
    display: block;
    position: relative;
    width: 50%;
    background-color: #6b9fff00;
    left: 25%;
}
.valueUl{
    margin-top: 40px;
}
.serUl li{
    list-style: circle;
}