* {
    margin: 0;
    padding: 0;
    font-family: Century;
}

nav {
    margin: 0;
    display: flex;
    background-color: black;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
}

.navigation li {
    display: flex;
    list-style: none;
    padding: 20px 30px;
    padding: 0;
    transition: all .5s ease-in-out;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 5px;
    border-color: aliceblue;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    transition: all .5s ease-in-out;
}

.navigation li:hover {
    background-color: white;

}

a:hover {
    color: rgb(0, 0, 0);
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    margin: 50px;
    transition: all 0.2s ease-in-out;
}

h1:hover {
    transform: scale(1.15);
    transition-delay: 0.5s;
}

h2 {
    margin: 25px;
    color: #666;
}

p {
    margin-bottom: 10px;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.second {

    margin-left: 130px;
}

.third {

    margin-left: 75px;
}

