*{
    margin: 0;
    padding: 0;
}
.regi_body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    margin-top: 20vh;
    height: 40vh;
    width: 30vw;
    border-radius: 10px;
}
.regi_page{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 30px;
    
}
.username{
    background-color: aqua;
    
}
.input{
    background-color: antiquewhite;
}