* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}


.whole {
    z-index: 9;

}

nav {
    margin: 0;
    display: flex;
    background-color: black;
    z-index: 9;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    z-index: 9;
}

.navigation li {
    display: flex;
    list-style: none;
    padding: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 5px;
    border-color: aliceblue;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;

}

.navigation li:hover {
    background-color: rgba(255, 255, 255, 0.311);
    transition: all .5s ease-in-out;
}

a:hover {
    color: rgb(0, 0, 0);
    transition: all .5s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    overflow-x: hidden;
    background-color: #adadad;
}

h1 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #000000a7;
    font-family: 'Open Sans', sans-serif;
    margin: 50px;
    z-index: 9;
}


h2 {
    margin: 25px;
    color: #666;
    z-index: 9;
}

p {
    margin-bottom: 10px;
    z-index: 9;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    z-index: 9;
}

ol {
    z-index: 9;
}

.second {

    margin-left: 130px;
}

.third {

    margin-left: 75px;
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: 1;

}

#blur {
    height: 125%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);

}

@media (max-width: 600px)   {
    #blur {
        display: none;
    }
    #blob {
        display: none;
    }
}

    @keyframes rotate {
        from {
            rotate: 0deg;
        }

        50% {
            scale: 1 1.5;
        }

        to {
            rotate: 360deg;
        }
    }