* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}


.whole {
    z-index: 9;

}

nav {
    margin: 0;
    display: flex;
    background-color: black;
    z-index: 9;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    z-index: 9;
}

.navigation li {
    display: flex;
    list-style: none;
    padding: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 5px;
    border-color: aliceblue;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;

}

.navigation li:hover {
    background-color: rgba(255, 255, 255, 0.311);
    transition: all .5s ease-in-out;
}

a:hover {
    color: rgb(0, 0, 0);
    transition: all .5s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #adadad;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    width: 45%;
    height: 230px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #00000023;
    background-position: center;
    background-size: cover;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.34), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9;
}

h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #ffffff8a;
    position: sticky;
    font-size: 30px;
    z-index: 9;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000c8;
    z-index: 9;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    background-color: #00000000;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #000000b8;
    outline: none;
    z-index: 9;
}

button {
    padding: 10px 16px;
    background-color: #3a3a3a66;
    color: white;
    border: none;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #0000008e;
}

.message {
    margin-top: 20px;
    text-align: center;
    color: red;
}
#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right,rgb(89, 255, 74),#4affed, rgb(70, 79, 255));
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: 1;

}

#blur {
    height: 125%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);

}

@media (max-width: 600px)   {
    #blur {
        display: none;
    }
    #blob {
        display: none;
    }
}

    @keyframes rotate {
        from {
            rotate: 0deg;
        }

        50% {
            scale: 1 1.5;
        }

        to {
            rotate: 360deg;
        }
    }