* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

nav {
    margin: 0;
    display: flex;
    background-color: black;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
}

.navigation li {
    display: flex;
    list-style: none;
    padding: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 5px;
    border-color: aliceblue;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Century;
}

.navigation li:hover {
    background-color: white;

}

a:hover {
    color: rgb(0, 0, 0);
}

body {
    margin: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    width: 50%;
    height: 250px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('"D:\Shubham7807\DE\sheets\sa.jpg"');
    background-position: center;
    background-size: cover;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;

}

button {
    padding: 10px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.message {
    margin-top: 20px;
    text-align: center;
    color: red;
}